<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (wage(); as wageRef) {
      <div>
        <h2 data-cy="wageDetailsHeading"><span>Wage</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ wageRef.id }}</span>
          </dd>
          <dt><span>Coefficients</span></dt>
          <dd>
            <span>{{ wageRef.coefficients }}</span>
          </dd>
          <dt><span>Base Salary</span></dt>
          <dd>
            <span>{{ wageRef.baseSalary }}</span>
          </dd>
          <dt><span>Allowance</span></dt>
          <dd>
            <span>{{ wageRef.allowance }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/wage', wageRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
